<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<!--  <h1>Account</h1>
  <div>{{p_name}}</div>
  <div>Players:
    {% for n in data %}
    <div>{{p_name}}</div>
    {% endfor %}
  </div>
-->
<!--<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>-->

<form method="POST" action="/get_game_date">
<p>Please input the date you want to query: <input type="text" name="date">
<input type="submit" value="Submit"></p>
</form>

<form method="POST" action="/get_game_team">
<p>Please input the team you want to query: <input type="text" name="team">
<input type="submit" value="Submit"></p>
</form>

</body>


</html>
