<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to the NBA query and communication Webpage</h1>
  <br>
  <p><a href="/dataquery">NBA Data Query</a></p>
  <p><a href="/index?name=user">NBA Forum</a></p>
  <p><a href="/index?name=admin">Administrator Login</a></p>
  <!--<div>
    {% for n in data %}
    <div>Welcome to the NBA query and communication Webpage, {{n}} !</div>
    {% endfor %}
  </div>-->

<!--<p><a href="/another">Go to the other page</a></p>
-->
<!--<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>-->

<!--<form method="POST" action="/login">
<p>username: <input type="text" name="username"> 
password: <input type="text" name="password">
<input type="submit" value="Add"></p>
</form>-->

</body>


</html>
